# Derleme Çıktısı
/dist/

# Bağımlılıklar
/node_modules/

# Yerel Çevre Değişkenleri
.env
.env.test
.env.production
.env.local

# Yüklenen dosyalar (yerel disk depolama, MVP)
/uploads/

# Loglar
logs/
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Test ve Coverage Raporları
/coverage/
/.nyc_output/

# Editör ve Sistem Dosyaları
.DS_Store
.idea/
.vscode/
.history/
